<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<!-- Tabs -->
	
	<extension id="ExampleWorkspaceTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Example Tab"/>
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
		<index value="X"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig-exampletab.xml"/>
   </extension>

	<extension id="ExampleWorkspaceTab2" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Example Tab (2)"/>
		<class value="edu.stanford.bmir.protege.examples.tab.ExampleWorkspaceTab2"/>
		<index value="Y"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig-exampletab2.xml"/>
   </extension>

	<!-- View -->

	<extension id="ExampleViewComponent" point="org.protege.editor.core.application.ViewComponent">
		<label value="Example view component" />
		<class value="edu.stanford.bmir.protege.examples.view.ExampleViewComponent" />
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.ontologycategory" />
	</extension>
	
	<!-- Menu and menu items -->
	
	<extension id="toolmenu1" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Example menu item (1)"/>
		<path value="org.protege.editor.owl.menu.tools/SlotG-A"/>
		<toolTip value="This example menu item appears in the Tools menu"/>
		<class value="edu.stanford.bmir.protege.examples.menu.ToolsMenu1"/>
		<editorKitId value="any"/>
	</extension>

    <extension id="toolmenu2" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Example menu item (2)"/>
        <path value="org.protege.editor.owl.menu.tools/SlotG-B"/>
        <toolTip value="This is another example menu item that appears in the Tools menu"/>
        <class value="edu.stanford.bmir.protege.examples.menu.ToolsMenu2"/>
        <editorKitId value="any"/>
    </extension>

	<extension id="toolmenu3" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Example menu item (3)"/>
		<path value="org.protege.editor.owl.menu.tools/SlotJ-A"/>
		<toolTip value="This example menu item appears in the Tools menu in a separate category"/>
		<class value="edu.stanford.bmir.protege.examples.menu.ToolsMenu3"/>
		<editorKitId value="any"/>
	</extension>

    <extension id="topmenu" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Example Menu"/>
        <path value="/SlotG-A"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="submenu" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Example menu item"/>
        <path value="${project.artifactId}.topmenu/SlotCR-A"/>
	    <editorKitId value="OWLEditorKit"/>
    </extension> 

    <extension id="menu3" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Example submenu item"/>
        <path value="${project.artifactId}.submenu/SlotA-A"/>
        <toolTip value="This is an example submenu item"/>
        <class value="edu.stanford.bmir.protege.examples.menu.UnderSubMenu"/>
        <editorKitId value="any"/>
    </extension>
    
</plugin>
